.filters
  padding: 0 15px
  text-align: left
  border-top: $filter-border
  border-bottom: $filter-border

  +element('label')
    color: $filter-color
    display: inline-block
    font-weight: bold
    text-align: left

  +element('filter')
    display: inline
    margin-left: 20px

  +element('selections')

    +element('selection')
      display: none

      cursor: pointer
      margin-left: 30px
      transition-duration: 0.8s
      transition-property: transform
      &:hover
        transform: rotate(5deg)
        -webkit-transform: rotate(5deg)

      +modifier('reset-all')
        color: darkgreen
        display: inline-block
        padding-bottom: 25px

      +element('x')
        height: $square-size
        display: inline-block
        margin-left: 5px
        width: $square-size

@media screen and (min-width: 36em)
  .filters
    height: 50px

    +element('filter')
      display: inline-flex
      margin-left: 40px

      +modifier('categories')
        min-width: 205px

      +modifier('colors')
        min-width: 145px

    +element('selections')
      display: inline-flex

      +element('selection')

        +modifier('reset-all')
          margin-left: -33px

@media screen and (min-width: 100em)
  .filters

    +element('selections')

      +element('selection')
        display: inline-flex

        +modifier('small')
          font-size: 8px
          display: grid
          width: 30px
          height: 32px
