.header
  background-color: darkred
  color: white
  //height: 150px
  padding: 15px

  +element('title')
    font-size: 1.5em
    border-radius: 15px
    background-color: darkorange
    width: 50%
    margin: 10px auto
    padding: 5px
    display: inline-block

    &:hover
      background-color: black

@media screen and (min-width: 48em)
  .header
    +element('title')
      border-radius: 5px
      display: block

//@media screen and (min-width: 62em)
