{
  "env": {
    "jest": true
  },
  extends: "airbnb",
  globals: {
//    document: true,
//    window: true,
//    React: true,
//    I18n: true,
//    prettyDateTime: true,
//    EMPTY_HREF: true,
//    Cookie: true,
//    RequestHandler: true,
//    LoginHelper: true,
//    Global: true,
//    api_host: true,
//    $: true,
//    localStorage: true,
//    redirect: true,
//    jQuery: true,
//    signOut: true,
//    location: true,
//    postWithData: true,
//    SystemMessages: true,
//    LanguageManager: true,
//    LoadingOverlay: true,
//    routes: true,
//    CropHelper: true,
//    safeImageUrl: true,
//    putWithData: true,
//    initDropzone: true,
//    languages: true,
//    get: true,
//    getBackLocation: true,
//    clearErrors: true,
//    setErrors: true,
//    getHeaders: true,
//    setNoticeSuccess: true
  },
  rules: {
    max-len: [1, 125, 2, {ignoreComments: true}],
    react/prop-types: false,
    comma-dangle: ["error", "never"],
    react/jsx-no-undef: [true, { "allowGlobals": true }],
    no-unused-expressions: ["error", { "allowTernary": true }],
    no-trailing-spaces: ["error", { "skipBlankLines": true }],
    react/react-in-jsx-scope: false,
    react/jsx-filename-extension: [1, { "extensions": [".js", ".jsx"] }],
    jsx-a11y/click-events-have-key-events: 0,
    jsx-a11y/no-noninteractive-element-interactions: 0,
    no-console: ["error", { allow: ["warn", "error"] }]
  }
}
