.dropdown {
  z-index: 1; }
  .dropdown__items {
    background-color: beige;
    border: 1px solid #bb833c;
    border-radius: 5px;
    list-style: none;
    margin-top: 17px;
    padding: 0 15px; }
  .dropdown__item {
    cursor: pointer;
    padding: 10px 0; }
    .dropdown__item__square {
      height: 10px;
      border: 1px solid #bb833c;
      background-color: beige;
      display: inline-block;
      margin-right: 5px;
      width: 10px; }
      .dropdown__item__square--selected {
        background-color: #bb833c; }
    .dropdown__item__color-circle {
      height: 15px;
      border-radius: 10px;
      display: inline-block;
      float: right;
      margin-left: 15px;
      width: 15px; }
  .dropdown__label {
    color: #bb833c;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none; }
    .dropdown__label__arrow {
      margin-left: 5px; }

@media screen and (min-width: 36em) {
  .dropdown__items {
    border-top: none;
    border-radius: 0 0 5px 5px; } }

.filters {
  padding: 0 15px;
  text-align: left;
  border-top: 1px solid #bb833c;
  border-bottom: 1px solid #bb833c; }
  .filters__label {
    color: #bb833c;
    display: inline-block;
    font-weight: bold;
    text-align: left; }
  .filters__filter {
    display: inline;
    margin-left: 20px; }
  .filters__selections__selection {
    display: none;
    cursor: pointer;
    margin-left: 30px;
    transition-duration: 0.8s;
    transition-property: transform; }
    .filters__selections__selection:hover {
      transform: rotate(5deg);
      -webkit-transform: rotate(5deg); }
    .filters__selections__selection--reset-all {
      color: darkgreen;
      display: inline-block; }
    .filters__selections__selection--hidden {
      display: none; }
    .filters__selections__selection--small {
      font-size: 8px;
      display: grid;
      width: 30px;
      height: 32px;
      overflow: hidden; }
    .filters__selections__selection__x {
      height: 10px;
      display: inline-block;
      margin-left: 5px;
      width: 10px; }

@media screen and (min-width: 36em) {
  .filters {
    height: 50px; }
    .filters__filter {
      display: inline-flex;
      margin-left: 40px; }
      .filters__filter--categories {
        min-width: 205px; }
      .filters__filter--colors {
        min-width: 145px; }
    .filters__selections {
      display: inline-flex; } }

@media screen and (min-width: 100em) {
  .filters__selections__selection {
    display: inline-flex; } }

.header {
  background-color: darkred;
  color: white;
  padding: 15px; }
  .header__title {
    font-size: 1.5em;
    border-radius: 15px;
    background-color: darkorange;
    width: 50%;
    margin: 10px auto;
    padding: 5px;
    display: inline-block; }
    .header__title:hover {
      background-color: black; }

@media screen and (min-width: 48em) {
  .header__title {
    border-radius: 5px;
    display: block; } }

.product-list__item {
  display: inline-block;
  padding: 45px;
  font-size: 20px; }
  .product-list__item__picture {
    border-radius: 10px;
    height: 180px;
    width: 240px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform; }
    .product-list__item__picture:hover {
      transform: rotate(-2deg);
      -webkit-transform: rotate(-2deg); }
  .product-list__item__categories {
    margin: 10px; }
    .product-list__item__categories__item {
      border: 1px solid gray;
      border-radius: 3px;
      display: inline-block;
      font-size: 15px;
      padding: 5px;
      margin: 2px; }
  .product-list__item__colors {
    display: inline-block;
    margin: 10px 65px 0 0;
    float: right; }
    .product-list__item__colors__promo {
      margin-top: -10px; }
    .product-list__item__colors__square {
      height: 15px;
      display: inline-block;
      float: right;
      margin-left: 15px;
      width: 15px; }
      .product-list__item__colors__square--selected {
        border: 10px solid white;
        margin-top: -10px; }
  .product-list__item__name {
    margin: 0; }
  .product-list__item__price {
    margin: 0; }

@media screen and (min-width: 36em) {
  .product-list__item {
    width: 450px; }
    .product-list__item__picture {
      height: 240px;
      width: 320px; }
    .product-list__item__colors__square {
      height: 22.5px;
      border-radius: 22.5px;
      width: 22.5px; } }

.shipping-info {
  background-color: beige;
  padding: 1px; }
  .shipping-info__long-p {
    display: none; }

@media screen and (min-width: 36em) {
  .shipping-info__long-p {
    display: unset; } }

.app {
  background-color: beige;
  text-align: center; }
  .app .footer {
    height: 17vh; }
